table {
    width: 100%;
    text-align: justify;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 4rem;
    border-collapse: collapse;
}

tr {
    border-bottom: 0.5px solid grey;
}

.header {
    background-image: url(../public/images3.jpeg);
  color: aliceblue;
  
  padding: 20rem; 
  border-radius: 20px;
  color: crimson;
}

select {
    font-size: 25px;
    margin: 0.5rem;
    border-radius:7px;
    padding: 0.5rem;
}

h2 {
    margin-bottom: 1.5rem;
}